*
{
    padding: 0;
    margin: 0;
    font-family: var(--default-font);
}
body
{
    background-color: var(--color-blue-0);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container
{
    width: 500px;
    height: 400px;
    background-color: var(--color-blue-0-hover);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(220, 220, 220, 0.494);
}
.icon
{
    width: 50px;
    height: 50px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -25px;
    background-image: url("../imagens/pass-icon.png");
}
.container
{
    width: 100%;
}
.subcontainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 12%;
}
.container.inputs { 
    height: 85%;
}
.subcontainer .item
{
    margin-bottom: 10px;
}
.subcontainer b, .subcontainer h1
{
    color: var(--color-white-0);
}
h1 { 
    margin-bottom: 20px;
    text-align: center;
}
.subcontainer input
{
    border: 0;
    border-bottom: 1px solid rgba(220, 220, 220, 0.494);
    outline: none;
    background-color: transparent;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    color: var(--color-white-0);
    transition: border-bottom 0.5s;
}
.subcontainer input[type=button]
{
    border: 1px solid rgba(220, 220, 220, 0.494);
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}
.subcontainer input[type=button]:hover
{
    background-color: var(--color-orange-0);
    color: var(--color-white-0);
}
.subcontainer .err
{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
.subcontainer input:focus
{
    border-bottom: 1px solid var(--color-orange-0);
}

.container.buttons {
    height: 15%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(220, 220, 220, 0.494);
}
.container .button
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: var(--color-white-0);
    transition: background-color 0.3s, color 0.3s;
    outline: none;
    text-decoration: none;
    border-radius: 3px;
}
.button:hover
{
    background-color: var(--color-orange-0);
    color: var(--color-white-0);
}
.button:nth-child(1)
{
    border-right: 1px solid rgba(220, 220, 220, 0.494);
}

@media screen and (max-width: 700px)
{
    body { background-color: var(--color-blue-0-hover); }
    .login-container {
        border: none;
        height: 80vh;
    }
    .container.buttons {
        border: none;
        width: 60%;
        height: 30%;
        flex-direction: column;
    }
    .subcontainer h1
    {
        margin-top: 50px;
    }
    .button
    {
        border: 1px solid rgba(220, 220, 220, 0.494);
        border-radius: 3px;
        height: 40px;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 700px)
{
    .button
    {
        height: 100%;
    }
}
